name: Merge Gate Workflow
on:
  push:
    branches-ignore:
      - main
jobs:
  run-tests:
    runs-on:
      - self-hosted
      - linux
      - x64
      - dev
      - docker
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Install yarn
        run: npm install -g yarn
      - name: Retrieve linux version
        run: uname -a
      - name: Retrieve mem info
        run: free -h
      - name: Run Solutions Tests
        uses: cypress-io/github-action@v2
        env:
          REACT_APP_CONTENT_URL: 'https://content.com/'
        with:
          # record: true
          # group: chrome
          # parallel: true
          command: yarn run test:unit